.first-display {
  background-image: url(img/bg-1.jpg);
  background-repeat: no-repeat;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 10px;
  &__text {
    padding: 3px 15px 19px 15px;
  }
}

@import "media";