.menu {
  &__caption._small {
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
  }
  &__button._left {
    margin-left: -16px;
    margin-right: 10px;
  }
  &__button._right {
    margin-right: -16px;
  }
}

.logo {
  &._navtop {
    width: 134px;
    height: 24px;
    fill: #161616;
  }
}

.grow {
  flex-grow: 1;
}

.user {
  width: 210px;
  height: 40px;
  background-color: #efefef;
}

@import "media";