@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1199px),
(min-width: 1200px) {
  .header {
    background-image: url(img/bg-1@2x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-width: 1900px) {
  .header {
    background-image: url(img/bg-1@4x.jpg);
  }
}

/* xl */
@media (min-width: 1281px) {
  .header {
    min-height: 677px;
    background-size: cover;
    background-position: center 30.5%;
  }
}

/* lg */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    min-height: 726px;
    background-size: 1327px auto;
    background-position: left top;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    min-height: 623px;
    background-size: cover;
    background-position: left center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* xs sm */
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    min-height: 393px;
    background-size: cover;
    background-position: 40% center;
    text-align: center;
  }
}